@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&family=Tajawal:wght@200&display=swap');
$socialsize: 50px;
$h1font: 'Julius Sans One', sans-serif;
$pfont:'Libre Baskerville', serif;
$royalblue:#4169E1;
$white: #fff;


//////// GENERIC RULE
body{
    margin: 0;
    text-align: center;

}
a{
    text-decoration: none;
    font-size: large;
    font-family: $pfont;
    color: rgba(30,144,255,1);
    &:hover{
        color:  #c710df;
        transition: 0.5s;
        font-size: x-large;
        font-weight: bold;
    }
}
h1{
    font-family: $h1font;
    font-size: 100px;
    text-align: center;
    color: #ffffff;
    text-shadow: 2px 2px 2px #050505;
    //text-shadow: 2px 2px 15px #ffffff;
    //text-shadow: rgb(0, 0, 0) 1px 0px 0px, rgb(0, 0, 0) 0.540302px 0.841471px 0px, rgb(0, 0, 0) -0.416147px 0.909297px 0px, rgb(0, 0, 0) -0.989992px 0.14112px 0px, rgb(0, 0, 0) -0.653644px -0.756802px 0px, rgb(0, 0, 0) 0.283662px -0.958924px 0px, rgb(0, 0, 0) 0.96017px -0.279415px 0px;
}
p{
    color: white;
    font-size: large;
    font-family: $pfont;   
    margin: 30px;
}
h2{
    color: white;
    font-family: $pfont; 
    margin-bottom: 30px; 
    margin-top: 30px;
}
button{
        background: #f018c5;
        background-image: linear-gradient(to bottom, #6050dc, #9370db);
        border-radius: 28px;
        font-family: Arial;
        color: #ffffff;
        font-size: 25px;
        padding: 10px 20px 10px 20px;
        text-decoration: none;
        margin-top: 30px;
        margin-bottom: 30px;
        cursor: pointer;

        &:hover{
            background-image: linear-gradient(to bottom, #6050dc, #9f1bb1);
            transition: 0.7s;
        }
}
.bloc{
  padding-top: 35px;
  padding-bottom: 35px;
}



////// HEADER
header{
    width: 100%;
    li{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 10px;
        color: white;
    }
    a{
        color: white;
    }
    nav{
        background: $royalblue;
        overflow: hidden;
        position: fixed;
        width: 100%;
        height: 50px;
    }
}
.banniere{
    background-image: url(./image/cloud2.jpg);
    background-size: cover;
    background-position: center;
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

////// MAIN
main{
    padding-top: 30px;
    background: linear-gradient(to bottom, #4169E1 0%, #C8D4F6 100%);
}
/////// FOOTER
footer{
    li{
        display: flex;
        justify-content: center;
    }
    h2{
        color:rgba(30,144,255,1);
        margin-top: 50px;
    }
    .socialLink{
        margin: 10px;
        padding: 10px;
        display: flex;
        justify-content: center;
        gap: 50px;
    }
    .fa-brands.fa-facebook{
        color: #3b5998;
        font-size:$socialsize
    }
    .fa-brands.fa-youtube{
        color:white;
        font-size: 40px;
        border:  1px solid #bb0000;
        border-radius: 50%;
        background-color: #bb0000;
        padding: 3px;
    }
}
.copyright{
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    background-color: $royalblue;
    a{
        color: white;
        text-decoration: none;
        font-size: small;
        &:hover{
            font-weight: 100;
            border-bottom: 1px solid white;
        }
    }
    p{
        font-size: small;
    }

}
#mentionsLegales{
    text-decoration: none;
}

// Nous connaitre
.imgNC{
    width: 65%;
    height: 65%;
}
#VideoProduit{
    margin: 3rem;
}
.audio{
    padding-top: 2rem;
    background-color: $royalblue;
}
audio{
    background-color: $royalblue;
}
